body {
  font-family: 'Raleway', sans-serif;
  background-color: #edeaea;
  margin:0;
  padding:0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 15px;
}

.my-name {
  font-size: 65px;
  font-weight:300;
  text-transform: uppercase;
  line-height: 20%
}

.my-title {
  font-weight:200;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 10%
}

.header {
  background-color: rgba(66, 66, 66, 0.8);
  padding: 20px;
  text-align: right;
  color: #25d4e8;
  text-shadow: 3px 3px 3px #000;
  border-bottom: 4px solid #ed008a;
}

.header img {
  float:left;
  height: 110px;
  width: 110px;
  /* margin: -128px 15px; */
  align-items: left;
  margin-top: -128px;
  opacity: 0.6;
  box-shadow: 3px 3px 13px #000;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  border: 3px solid #25d4e8;
}

.color1 {
  background-color: #25d4e8;
  width: 22%;
  height: 150px;
  /* margin: 10px; */
  text-align: center;
  border: 3px solid #424242;
  border-radius: 10px;
  text-shadow: 2px 2px 5px #fff;
  box-shadow: 5px 5px 10px rgb(66, 66, 66, 0.4);
}

.color2 {
  background-color: rgba(66, 66, 66, 0.8);
  width: 22%;
  height: 150px;
  /* margin: 10px; */
  text-align: center;
  border: 3px solid #25d4e8;
  border-radius: 10px;
  color: white;
  text-shadow: 2px 2px 5px #000;
  box-shadow: 5px 5px 10px rgb(66, 66, 66, 0.4);
}

.color3 {
  background-color: #ed008a;
  width: 22%;
  height: 150px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #424242;
  text-shadow: 2px 2px 5px #fff;
  box-shadow: 5px 5px 10px rgb(66, 66, 66, 0.4);
}

.color4 {
  background-color: #edeaea;
  width: 22%;
  height: 150px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #ed008a;
  color: white;
  text-shadow: 2px 2px 5px #000;
  box-shadow: 5px 5px 10px rgb(66, 66, 66, 0.4);
}

.color-code {
  font-size: 40px;
  font-weight: bold;
}

.featured {
  font-size: 30px;
  margin: 15px;
  color: #25d4e8;
  text-shadow: 3px 3px 3px #000;
}

.featured-1 {
  background-image:url('images/carlsagan.png');
  width:  33%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 10px rgb(66, 66, 66, 0.4);
  border-radius: 10px;
 }

.featured-2 {
  background-image:url('images/pixel-art.png');
  width:  33%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 10px rgb(66, 66, 66, 0.4);
  border-radius: 10px;
 }

.featured-3 {
  background-image:url('images/purrfect.png');
  width:  33%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 10px rgb(66, 66, 66, 0.4);
  border-radius: 10px;
 }

.featured-work {
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #ed008a;
}
